<!-- Div de superposición (overlay) para mostrar una ventana modal de bienvenida -->
<div class="welcome-overlay">
    <!-- Contenedor de la ventana modal -->
    <div class="welcome-modal">
      <!-- Encabezado de la bienvenida -->
      <h2>Bienvenidos/as a mi Pokédex</h2>
      
      <!-- Texto de presentación del proyecto -->
      <p>Con más de 40 horas de desarrollo</p>
      <p>Muchos dolores de cabeza</p>
      <p>Pero aquí estamos</p>
      
      <!-- Línea de texto personalizada -->
      <p>Milton Pongame 10</p>
      
      <!-- Botón para cerrar la ventana modal y entrar a la Pokédex -->
      <button (click)="onClose()">Entrar</button>
    </div>
</div>
