.stats {
  display: absolute;

 
  width: 90%;
 
  max-width: 600px; /* Limita el ancho para dispositivos grandes */
  padding: 20px;
  border: 2px solid #333;
  border-radius: 15px;
  background-color: #f0f0f5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra para darle profundidad */
}

.health-container {
  display: flex;
  justify-content: center; /* Centra los puntos horizontalmente */
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #e3e3e3;
  margin: 15px 0; /* Margen superior e inferior más consistente */
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

.health {
  width: 15px;
  height: 15px;
  background-color: #4caf50;
  border-radius: 50%;
  margin: 0 8px; /* Más espacio entre puntos */
  transition: background-color 0.3s ease; /* Animación de cambio de color */
}

.health.low {
  background-color: #ff9800; /* Amarillo para vida media */
}

.health.critical {
  background-color: #f44336; /* Rojo para vida baja */
}
